<ion-header [translucent]="true"
            class="ion-no-border">
  <ion-toolbar class="toolbar-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      <img src="../../../assets/imgs/thumb_logo.png"
           class="logo-thumb">
    </ion-title>

    <ion-buttons slot="end">
      <ion-icon size="large"
                name="notifications-circle"
                class="icon-notifications"></ion-icon>
      <ion-badge color="primary"
                 class="ion-badge">93</ion-badge>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="toolbar-content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>
              <h1>Tarciso Júnior</h1>
              <h2 class="nivel-roxo">
                Nível roxo
              </h2>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="ion-text-center">
            <ion-buttons>
              <ion-button>
                <ion-icon name="musical-note"></ion-icon>
                <ion-label>MEU CORPO</ion-label>
              </ion-button>

              <ion-button>
                <ion-icon name="musical-note"></ion-icon>
                <ion-label>MEU CORPO</ion-label>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>




  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

</ion-content>
